
html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(248, 224, 192)
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-header {
  position: sticky;    
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  1px 30px;
  background: white;
  border-bottom: 5px solid #165513;
}
h1{
    display:inline-block;
    color: forestgreen;
    font-family: "Nature Spirit", system-ui, sans-serif;
   
}
#title{
    font-size: 50px;
    margin-left: 10px;
}
.menu {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
nav{
    display:inline-flex;
    align-items: center;
    position:sticky;
    padding-top: 10px;
    
}
.menu a {
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 8px;
}

.menu a:hover,
.menu a:focus-visible {
  background: #f2f2f2;
  outline: none;
}

main{
  display:flex;
  gap:3rem;
  padding: 1rem; 
  flex:1;
  align-items: flex-start;
  background-color: rgb(248, 224, 192)

}

.column {
  display:flex;

  margin-left: 1em;
  flex-direction: column;
}

#right-column-title{ 
  text-align: left;
  font-size: 40px;

}
#hero{
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

aside{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border:  5px solid #165513;
  border-radius: 10px;
  margin-right: 1rem;
  height: 70vh;
}



section {
  flex-grow: 1;
  
}

aside {
  width: 300px; /* or whatever size you want */
  background: rgba(255,255,255,0.25); /* subtle contrast */
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  height: 360px;  
  
  
}

footer {
  background-color: #165513;
  width: 100%;
  flex-direction: flex-end;
}
@font-face {
  font-family: "Nature Spirit";
  src: url("assets/fonts/nature-spirit-font/NatureSpirit-jE7RM.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
